<div class="modal-header">
    <h5 class="modal-title">Message Details</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <dl class="row">
        <dt class="col-sm-4">From</dt>
        <dd class="col-sm-8">{{ m.first_name }} {{ m.last_name }} &lt;{{ m.email }}&gt;</dd>
        {% if m.phone %}
            <dt class="col-sm-4">Phone</dt>
            <dd class="col-sm-8">{{ m.phone }}</dd>
        {% endif %}
        <dt class="col-sm-4">Subject</dt>
        <dd class="col-sm-8">{{ m.subject }}</dd>
        <dt class="col-sm-4">Message</dt>
        <dd class="col-sm-8">{{ m.message|linebreaksbr }}</dd>
        <dt class="col-sm-4">Received</dt>
        <dd class="col-sm-8">{{ m.created_at|date:"d M Y @ H:i" }}</dd>
    </dl>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
