{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tidy Tails Grooming</title>

        <!-- Favicon Links -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">

        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        >

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <!-- Include header -->
        {% include 'header.html' %}

        <main class="container">
            {% block content %}{% endblock %}
        </main>

        <!-- Include footer -->
        {% include 'footer.html' %}

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/4472c95f66.js" crossorigin="anonymous"></script>
        <!-- Custom JS -->
        <script src="{% static 'js/booking.js' %}"></script>
        <script src="{% static 'js/alerts.js' %}"></script>
        <script src="{% static 'js/confirm-cancel.js' %}"></script>
        <script src="{% static 'js/confirm-action.js' %}"></script>
        <script src="{% static 'js/service-form.js' %}"></script>
        <script src="{% static 'js/view-modal.js' %}"></script>
        </body>
</html>
