{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Home</h1>

    {% if user.is_authenticated %}
    <!-- HOMEPAGE -->
    <p>Welcome, {{ user.first_name }}!</p>
    <form method="post" action="{% url 'accounts:logout' %}">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>
    {% else %}
    <!-- HOMEPAGE -->
    <p>You are not logged in.</p>
    <p>
        <a href="{% url 'accounts:login' %}">Login</a><br>
        <a href="{% url 'accounts:register' %}">Register</a>
    </p>
    {% endif %}
{% endblock %}